<footer id="footer" data-theme="dark" data-ez="contents-1o6pdi3-1">
    <div class="top">
		<div class="left" module="Layout_footer">
        	<div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg" loading="lazy" ez-prevent="img"></a></div>
            <div class="info">
            	<ul>
                	<li>
                        <h2>Tel</h2>
                        <p>{$phone}</p>
                    </li>
                	<li>
                        <h2>Address</h2>
                        <p>경기도 성남시 분당구 동판교로 56, ㈜아리바이오</p>
                    </li>
                	<li module="Layout_Info">
                        <h2>E-mail</h2>
                        <p>help@herzion.com</p>
                    </li>
                </ul>
            </div>
		</div>
		<div class="right">
        	<ul>
            	<li><a href="/">Home</a></li>
            	<li><a href="/new_subpage/product_page/product.html">Product</a></li>
            	<li><a href="/new_subpage/technology/technology.html">Technology</a></li>
                <li><a href="/new_subpage/business/business.html">Business</a></li>
            	<li><a href="/new_subpage/support/support.html">Support</a></li>
                <li><a href="/new_subpage/faq/faq.html">FAQ</a></li>
                <li><a href="/new_subpage/contact/contact.html">Contact</a></li>
            </ul>
            
         <div class="app_download_box">
        <a href="https://apps.apple.com/br/app/%ED%97%A4%EB%A5%B4%EC%A7%80%EC%98%A8/id6463604810" target="_blank" class="store_btn">
          <img src="/new_subpage/layout_new/layout_images/apple_logo.svg" alt loading="lazy" ez-prevent="img"><span>App Store</span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.aribio.app.herzion&amp;hl=ko" target="_blank" class="store_btn">
          <img src="/new_subpage/layout_new/layout_images/google_logo.svg" alt loading="lazy" ez-prevent="img"><span>Google Play</span>
        </a>
      </div>
    
        </div>
    </div>
    <div class="btm">
		<div class="copyright">
                 <a href="https://memorythm.mycafe24.com/audio/policy_kr.pdf" target="_blank" style="font-size: 18px; font-weight: 500; color: #fff;" >
          <span>Privacy Policy</span>
        </a>
		<span style="margin:0px 10px;">|</span>
            <span>ⓒ 2025 by AriBio. All Rights Reserved.</span>  
		</div>
        <div class="logo"><a href="/"><img src="/saeroun/img/f_logo.svg" loading="lazy" ez-prevent="img"></a></div>
    </div>
</footer>
<div data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain" data-ez="module-1vlksr8-1"><style>

    </style></div>
<!--#ez="1/2"-->